<h4>Formularios <small> reactivos </small></h4>
<hr />
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">
  <div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col">
        <input
          class="form-control"
          type="text"
          placeholder="Nombre"
          formControlName="nombre"
          [class.is-invalid]="nombreNoValido"
          [class.is-valid]="nombreValido"
        />
        <small *ngIf="nombreValido" class="text-success"> Correcto </small>
        <small *ngIf="nombreNoValido" class="text-danger"> Ingrese el nombre. (Al menos 5 letras) </small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col">
        <input
          class="form-control"
          type="text"
          placeholder="Apellido"
          formControlName="apellido"
          [class.is-invalid]="apellidoNoValido"
          [class.is-valid]="apellidoValido"
        />
        <small *ngIf="apellidoValido" class="text-success"> Correcto </small>
        <small *ngIf="apellidoNoValido" class="text-danger"> Ingrese el apellido </small>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col">
      <input
        class="form-control"
        type="email"
        placeholder="Correo electrónico"
        formControlName="correo"
        [class.is-invalid]="correoNoValido"
        [class.is-valid]="correoValido"
      />
      <small *ngIf="correoValido" class="text-success"> Correcto </small>
      <small *ngIf="correoNoValido" class="text-danger"> Ingrese el correo </small>
    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">Password</label>
    <div class="col">
      <input
        class="form-control"
        type="password"
        placeholder="Password"
        formControlName="password"
        [class.is-invalid]="passwordNoValido"
        [class.is-valid]="passwordValido"
        />
        <small *ngIf="passwordNoValido" class="text-danger">Ingrese la contraseña. (Al menos 5 caracteres) </small>
        <small *ngIf="passwordValido" class="text-success"> Correcto </small>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label"> Repetir password </label>
    <div class="col">
      <input
        class="form-control"
        type=" "
        placeholder="Repetir password"
        formControlName="repeatPassword"
        [class.is-invalid]="repeatPasswordNoValido"
        [class.is-valid]="repeatPasswordValido"
        />
      <small *ngIf="repeatPasswordValido" class="text-success"> Correcto </small>
      <small *ngIf="repeatPasswordNoValido" class="text-danger"> Ingrese la contraseña correcta </small>
    </div>
  </div> 




  <div class="form-group row" formGroupName="direccion">
    <label class="col-2 col-form-label">Dirección</label>
    <div class="form-row col">
      <div class="col">
        <input
          class="form-control"
          type="text"
          placeholder="Colonia"
          formControlName="colonia"
          [class.is-invalid]="coloniaNoValido"
          [class.is-valid]="coloniaValido"
        />
        
        <small *ngIf="coloniaNoValido" class="text-danger"> Ingrese la colonia </small>
        <small *ngIf="coloniaValido" class="text-success"> Correcto </small>

      </div>

      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Ciudad"
          formControlName="ciudad"
          [class.is-invalid]="ciudadNoValido"
          [class.is-valid]="ciudadValido"
        />
        <small *ngIf="ciudadNoValido" class="text-danger"> Ingrese la ciudad </small>
        <small *ngIf="ciudadValido" class="text-success"> Correcto </small>
        
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Pasatiempos</th>
            <th>Borrar</th>
          </tr>
        </thead>
        <tbody formArrayName="pasatiempos">
          <tr *ngFor="let control of pasatiempos.controls; let i = index">
            <td> {{ i + 1 }} </td>
            <td> 
              <input 
                class="form-control"
                type="text"
                [formControlName]="i"
              >
            </td>
            <td> 
              <button 
                class="btn btn-danger"
                (click)="borrarPasatiempo(i)"
                > 
                  Borrar 
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <button 
        class="btn btn-primary mt-3 mb-5 btn-block"
        type="button"
        (click)="agregarPasatiempo()"
        >
        + Agregar
      </button>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>
</form>

<hr />
<pre>
  Estado del formulario: {{forma.valid}}
  <br>
  Status: {{forma.status}}
</pre>
<pre>
  {{ forma.value | json }}
</pre>
